@charset "UTF-8";
  body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .forms{
          display: flex;
           flex-direction: row;
            align-items: center;
        }
        .gold {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .activities {
            margin-top: 20px;
            width: 50%;
        }
        .activities ul {
            list-style-type: none;
            padding: 10px;
            margin : 15px;
        }
        .activities li {
            margin: 5px 0;
        }
        .form{
        margin :10px;
        padding :25px;
        border: 2px solid black; 
        align-content: center;
        align-items: center;
        }
        .form button {
         color: black;
         background-color: white;
         margin-top: 10px;
         box-shadow: 3px 1px 1px black;
         width: 100px;
         height: 25px;
        }
        
        .box_Acivities{
        border: 1px solid black;
        width :600px;
         align-content: center;
        align-items: center;
        }